@import "tailwindcss";

body {
  background: white;
  color: black;
}

/* Hide scrollbars but keep functionality */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
